[submodule "themes/base16"]
	path = themes/base16
	url = https://github.com/htdvisser/hugo-base16-theme.git
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = https://github.com/kaushalmodi/hugo-atom-feed.git
