{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">n</span><span class="base09">o</span><span class="base0a">i</span><span class="base0b">s</span><span class="base0c">y</span><span class="base0d">t</span><span class="base08">o</span><span class="base09">o</span><span class="base0a">t</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Welcome to my projects site, where I have stuff about my free, libre, and open source software projects, some poems, and other stuff.<br/>
  Send emails to noisytoot@gmail.com, you can get my GnuPG public key from keys.openpgp.org, the fingerprint is 61C528F61F2CFADA9526A45B1D43EF4F4492268B<br/>
  <a href="{{ "post/atom.xml" | relURL }}">Atom feed of posts</a><br/>
  <a href="{{ "post/index.xml" | relURL }}">RSS feed of posts</a><br/>
  <a href="https://github.com/Noisytoot">My GitHub Account</a><br/>
  <a href="https://gitlab.com/noisytoot">My GitLab Account</a><br/>
  <a href="https://git.noisytoot.org/noisytoot">My Noisytoot Git Account</a><br/>
  <a href="https://github.com/Noisytoot/projects">Source code for this website</a>
</div>
